.DS_Store
.idea/
.coverage

/build/
/dist/

*.egg
*.egg-info

/SQcircuit/__pycache__
/SQcircuit/tests/__pycache__

/SQcircuit/tests/data/coord_dataset_gen.py
/SQcircuit/tests/data/qubit_dataset_gen.py

/SQcircuit/tests/.ipynb_checkpoints/
/SQcircuit/tests/jupyter_test.ipynb
/SQcircuit/tests/data/system_debuging.py

/examples/.ipynb_checkpoints/



